<div class="container" id="skills">
    <div class="row">
        <div class="col">
            <h2>Hard & Soft Skills</h2>
        </div>
    </div>
    <!-- ============================================= -->
    <!-- Hard Skills. -->
    <!-- ============================================= -->
    <div class="row progress-HS">
        <!-- Se presentan de modo circular, se instala vía npm ng circle-progress y se importa en el AppModule -->
        <div class="col hard-skills">
            <h4>Hard Skills</h4>
            <!-- ============================================= -->
            <!-- BOTÓN (Trigger Modal) Agregar Hard Skills. -->
            <!-- ============================================= -->
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addHardModal"><i class="fa fa-circle-plus"></i></button>
        </div>
        <div class="row hard-progress">
            <div class="text-center col-sm-6 col-md-4 col-lg-3 col-xl-2 one-hp">
                <!-- ============================================= -->
                <!-- BOTONES (Trigger): Editar y eliminar Hard Skills. -->
                <!-- ============================================= -->
                <div class="buttons-one-hp">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#eliminaHardModal"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editaHardModal"><i class="fa fa-pen-to-square"></i></button>
                </div>
                <div class="img-progress">
                    <circle-progress
                        [percent]="65"
                        [maxPercent]="100"
                        [titleColor]="'#367C5C'"
                        [radius]="50"
                        [responsive]="true"
                        [imageSrc]="'../assets/img/icons/html.png'"
                        [showImage]="false"
                        [imageHeight]="50"
                        [imageWidth]="50"
                        [subtitle]="'HTML'"
                        [subtitleColor]="'#367C5C'"
                        [subtitleFontSize]="'15'"
                        [subtitleFontWeight]="'10'"
                        [showSubtitle]="true"
                        [showUnits]="true"
                        [unitsFontSize]="'15'"
                        [unitsColor]="'#367C5C'"
                        [outerStrokeWidth]="4"
                        [innerStrokeWidth]="2"
                        [outerStrokeColor]="'rgb(77, 125, 196)'"
                        [innerStrokeColor]="'rgb(218, 157, 72)'"
                        [animation]="true"
                        [animationDuration]="500">
                    </circle-progress>
                </div> 
            </div>

            <div class="text-center col-sm-6 col-md-4 col-lg-3 col-xl-2 one-hp">
                <div class="buttons-one-hp">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#eliminarHardModal"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editaHardModal"><i class="fa fa-pen-to-square"></i></button>
                </div>
                <div class="img-progress">
                    <circle-progress
                        [percent]="55"
                        [maxPercent]="100"
                        [titleColor]="'#367C5C'"
                        [radius]="50"
                        [responsive]="true"
                        [imageSrc]="'../assets/img/icons/css.png'"
                        [showImage]="false"
                        [imageHeight]="50"
                        [imageWidth]="50"
                        [subtitle]="'CSS'"
                        [subtitleColor]="'#367C5C'"
                        [subtitleFontSize]="'15'"
                        [subtitleFontWeight]="'10'"
                        [showSubtitle]="true"
                        [showUnits]="true"
                        [unitsFontSize]="'15'"
                        [unitsColor]="'#367C5C'"
                        [outerStrokeWidth]="4"
                        [innerStrokeWidth]="2"
                        [outerStrokeColor]="'rgb(77, 125, 196)'"
                        [innerStrokeColor]="'rgb(218, 157, 72)'"
                        [animation]="true"
                        [animationDuration]="500">
                    </circle-progress>
                </div>
            </div>

            <div class="text-center col-sm-6 col-md-4 col-lg-3 col-xl-2 one-hp">
                <div class="buttons-one-hp">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-pen-to-square"></i></button>
                </div>
                <div class="img-progress">
                    <circle-progress
                        [percent]="50"
                        [maxPercent]="100"
                        [titleColor]="'#367C5C'"
                        [radius]="50"
                        [responsive]="true"
                        [imageSrc]="'../assets/img/icons/js.png'"
                        [showImage]="false"
                        [imageHeight]="50"
                        [imageWidth]="50"
                        [subtitle]="'JavaScript'"
                        [subtitleColor]="'#367C5C'"
                        [subtitleFontSize]="'15'"
                        [subtitleFontWeight]="'10'"
                        [showSubtitle]="true"
                        [showUnits]="true"
                        [unitsFontSize]="'15'"
                        [unitsColor]="'#367C5C'"
                        [outerStrokeWidth]="4"
                        [innerStrokeWidth]="2"
                        [outerStrokeColor]="'rgb(77, 125, 196)'"
                        [innerStrokeColor]="'rgb(218, 157, 72)'"
                        [animation]="true"
                        [animationDuration]="500">
                    </circle-progress>
                </div>
            </div>

            <div class="text-center col-sm-6 col-md-4 col-lg-3 col-xl-2 one-hp">
                <div class="buttons-one-hp">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-pen-to-square"></i></button>
                </div>
                <div class="img-progress">
                    <circle-progress
                        [percent]="60"
                        [maxPercent]="100"
                        [titleColor]="'#367C5C'"
                        [radius]="50"
                        [responsive]="true"
                        [imageSrc]="'../assets/img/icons/git.png'"
                        [showImage]="false"
                        [imageHeight]="50"
                        [imageWidth]="50"
                        [subtitle]="'Git'"
                        [subtitleColor]="'#367C5C'"
                        [subtitleFontSize]="'15'"
                        [subtitleFontWeight]="'10'"
                        [showSubtitle]="true"
                        [showUnits]="true"
                        [unitsFontSize]="'15'"
                        [unitsColor]="'#367C5C'"
                        [outerStrokeWidth]="4"
                        [innerStrokeWidth]="2"
                        [outerStrokeColor]="'rgb(77, 125, 196)'"
                        [innerStrokeColor]="'rgb(218, 157, 72)'"
                        [animation]="true"
                        [animationDuration]="500">
                    </circle-progress>
                </div>
            </div>

            <div class="text-center col-sm-6 col-md-4 col-lg-3 col-xl-2 one-hp">
                <div class="buttons-one-hp">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-pen-to-square"></i></button>
                </div>
                <div class="img-progress">
                    <circle-progress
                        [percent]="45"
                        [maxPercent]="100"
                        [titleColor]="'#367C5C'"
                        [radius]="50"
                        [responsive]="true"
                        [imageSrc]="'../assets/img/icons/bootstrap.png'"
                        [showImage]="false"
                        [imageHeight]="50"
                        [imageWidth]="50"
                        [subtitle]="'Bootstrap'"
                        [subtitleColor]="'#367C5C'"
                        [subtitleFontSize]="'15'"
                        [subtitleFontWeight]="'10'"
                        [showSubtitle]="true"
                        [showUnits]="true"
                        [unitsFontSize]="'15'"
                        [unitsColor]="'#367C5C'"
                        [outerStrokeWidth]="4"
                        [innerStrokeWidth]="2"
                        [outerStrokeColor]="'rgb(77, 125, 196)'"
                        [innerStrokeColor]="'rgb(218, 157, 72)'"
                        [animation]="true"
                        [animationDuration]="500">
                    </circle-progress>
                </div>
            </div>

            <div class="text-center col-sm-6 col-md-4 col-lg-3 col-xl-2 one-hp">
                <div class="buttons-one-hp">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-pen-to-square"></i></button>
                </div>
                <div class="img-progress">
                    <circle-progress
                        [percent]="40"
                        [maxPercent]="100"
                        [titleColor]="'#367C5C'"
                        [radius]="50"
                        [responsive]="true"
                        [imageSrc]="'../assets/img/icons/angular.png'"
                        [showImage]="false"
                        [imageHeight]="50"
                        [imageWidth]="50"
                        [subtitle]="'Angular'"
                        [subtitleColor]="'#367C5C'"
                        [subtitleFontSize]="'15'"
                        [subtitleFontWeight]="'10'"
                        [showSubtitle]="true"
                        [showUnits]="true"
                        [unitsFontSize]="'15'"
                        [unitsColor]="'#367C5C'"
                        [outerStrokeWidth]="4"
                        [innerStrokeWidth]="2"
                        [outerStrokeColor]="'rgb(77, 125, 196)'"
                        [innerStrokeColor]="'rgb(218, 157, 72)'"
                        [animation]="true"
                        [animationDuration]="500">
                    </circle-progress>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================= -->
    <!-- Soft Skills. -->
    <!-- ============================================= -->
    <div class="row progress-SK">
        <!-- Se presentan a manera de barras, obtenidas a través de Bootstrap -->
        <div class="col soft-skills">
            <h4>Soft Skills</h4>
            <!-- ============================================= -->
            <!-- BOTÓN (Trigger Modal) Agregar Soft Skills. -->
            <!-- ============================================= -->
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addSoftModal"><i class="fa fa-circle-plus"></i></button>
        </div>
        <div class="soft-progress">
            <div class="offset-1 col-11">
                <h6>Scrum Master</h6>
                <!-- ============================================= -->
                <!-- BOTONES (Trigger): Editar y eliminar Soft Skills. -->
                <!-- ============================================= -->
                <div class="buttons-one-skp">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#eliminaSoftModal"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editaSoftModal"><i class="fa fa-pen-to-square"></i></button>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-label="Danger striped example" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                </div>
            </div>

            <div class="offset-1 col-11">
                <h6>Liderazgo, coordinación y trabajo en equipo</h6>
                <div class="buttons-one-skp">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-pen-to-square"></i></button>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-label="Default striped example" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
            </div>

            <div class="offset-1 col-11">
                <h6>Inteligencia y pensamiento critico</h6>
                <div class="buttons-one-skp">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-pen-to-square"></i></button>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-label="Success striped example" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
            </div>

            <div class="offset-1 col-11">
                <h6>Capacidad resolutiva de problemas</h6>
                <div class="buttons-one-skp">
                        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-trash"></i></button>
                        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-pen-to-square"></i></button>
                    </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-label="Default striped example" style="width: 85%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">85%</div>
                </div>
            </div>

            <div class="offset-1 col-11">
                <h6>Habilidades de comunicación</h6>
                <div class="buttons-one-skp">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-pen-to-square"></i></button>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-label="Success striped example" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                </div>
            </div>

            <div class="offset-1 col-11">
                <h6>Buena actitud y empatía</h6>
                <div class="buttons-one-skp">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-pen-to-square"></i></button>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-label="Success striped example" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                </div>
            </div>

            <div class="offset-1 col-11">
                <h6>Inglés</h6>
                <div class="buttons-one-skp">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-pen-to-square"></i></button>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-label="Success striped example" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                 </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================================= -->
<!-- MODAL Agregar Hard Skills. -->
<!-- ============================================= -->
<div class="modal fade" id="addHardModal" tabindex="-1" aria-labelledby="addHardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addHardModalLabel">Agrega nueva Hard Skill</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- ============================================= -->
                <!-- FORMULARIO: Agregar Hard Skills. -->
                <!-- ============================================= -->
                <form>
                    <div class="mb-3">
                        <label for="tittleHardSkill" class="form-label">Habilidad:</label>
                        <input type="text" placeholder="Ingrese nueva Habilidad Técnica" id="tittleHardSkill" name="habilidadHS" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="porcentajeHardSkill" class="form-label">Agrega un Porcentaje (Escala 0 - 100):</label>
                        <input type="number" min="0" max="100"
                        placeholder="Valoración de dominio sobre la habilidad" id="porcentajeHardSkill" name="porcentajeHS" class="form-control" required>
                    </div>
                   
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <!-- ============================================= -->
                        <!-- Botón del formulario -->
                        <!-- ============================================= -->
                        <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk me-1"></i>Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ============================================= -->
<!-- MODAL Eliminar Hard Skills. -->
<!-- ============================================= -->
<div class="modal fade" id="eliminaHardModal" tabindex="-1" aria-labelledby="eliminaHardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="eliminaHardModalLabel">Elimina Habilidad</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Deseas eliminar esta habilidad?
                <form>
                    <div class="modal-footer mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <!-- ============================================= -->
                        <!-- Botón del formulario -->
                        <!-- ============================================= -->
                        <button type="submit" class="btn btn-primary"><i class="fa fa-trash me-1"></i>Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ============================================= -->
<!-- MODAL Editar Hard Skills. -->
<!-- ============================================= -->
<div class="modal fade" id="editaHardModal" tabindex="-1" aria-labelledby="editaHardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editaHardModalLabel">Edita Habilidad</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- ============================================= -->
                <!-- FORMULARIO: Editar Hard Skills. -->
                <!-- ============================================= -->
                <form>
                    <div class="mb-3">
                        <label for="tittleSoftSkill" class="form-label">Habilidad social o interpersonal:</label>
                        <input type="text" placeholder="Ingrese nueva Habilidad" id="tittleHardSkill" name="habilidadHS" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="porcentajeHardSkill" class="form-label">Agrega un Porcentaje (Escala 0 - 100):</label>
                        <input type="number" min="0" max="100"
                        placeholder="Valoración de dominio sobre la habilidad" id="porcentajeHardSkill" name="porcentajeHS" class="form-control" required>
                    </div>
                   
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <!-- ============================================= -->
                        <!-- Botón del formulario -->
                        <!-- ============================================= -->
                        <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk me-1"></i>Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- ============================================= -->
<!-- MODAL Agregar Soft Skills. -->
<!-- ============================================= -->
<div class="modal fade" id="addSoftModal" tabindex="-1" aria-labelledby="addSoftModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addSoftModalLabel">Agrega nueva Soft Skill</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- ============================================= -->
                <!-- FORMULARIO: Agregar Soft Skills. -->
                <!-- ============================================= -->
                <form>
                    <div class="mb-3">
                        <label for="tittleSoftSkill" class="form-label">Habilidad:</label>
                        <input type="text" placeholder="Ingrese nueva Habilidad Social o Interpersonal" id="tittleSoftSkill" name="habilidadSS" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="porcentajeSoftSkill" class="form-label">Agrega un Porcentaje (Escala 0 - 100):</label>
                        <input type="number" min="0" max="100"
                        placeholder="Valoración de dominio sobre la habilidad" id="porcentajeSoftSkill" name="porcentajeSS" class="form-control" required>
                    </div>
                   
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <!-- ============================================= -->
                        <!-- Botón del formulario -->
                        <!-- ============================================= -->
                        <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk me-1"></i>Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ============================================= -->
<!-- MODAL Eliminar Soft Skills. -->
<!-- ============================================= -->
<div class="modal fade" id="eliminaSoftModal" tabindex="-1" aria-labelledby="eliminaSoftModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="eliminaSoftModalLabel">Elimina esta habilidad</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Deseas eliminar esta habilidad?
                <form>
                    <div class="modal-footer mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <!-- ============================================= -->
                        <!-- Botón del formulario -->
                        <!-- ============================================= -->
                        <button type="submit" class="btn btn-primary"><i class="fa fa-trash me-1"></i>Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ============================================= -->
<!-- MODAL Editar Soft Skills. -->
<!-- ============================================= -->
<div class="modal fade" id="editaSoftModal" tabindex="-1" aria-labelledby="editaSoftModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editaSoftModalLabel">Edita Habilidad</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- ============================================= -->
                <!-- FORMULARIO: Editar Soft Skills -->
                <!-- ============================================= -->
                <form>
                    <div class="mb-3">
                        <label for="tittleSoftSkill" class="form-label">Habilidad:</label>
                        <input type="text" placeholder="Ingrese nueva Habilidad Social o Interpersonal" id="tittleSoftSkill" name="habilidadSS" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="porcentajeSoftSkill" class="form-label">Agrega un Porcentaje (Escala 0 - 100):</label>
                        <input type="number" min="0" max="100"
                        placeholder="Valoración de dominio sobre la habilidad" id="porcentajeSoftSkill" name="porcentajeSS" class="form-control" required>
                    </div>
                   
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <!-- ============================================= -->
                        <!-- Botón del formulario -->
                        <!-- ============================================= -->
                        <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk me-1"></i>Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>