/* Estilo del contenedor sobre mi */
.sobreMi {
    background-color: darksalmon;
    border: solid;
    border-color: gainsboro;
    border-radius: 25px;
    margin-top: 15px;
    max-width: 1100px;
    padding: 15px 15px 5px;
}

#cont-perfil {
    display: flex;
    justify-content: center;
}

/* Estilo de la foto de perfil */
#foto-perfil {
    border-radius: 12rem;
    width: 150px;
    box-shadow: gray 5px 5px 5px;
}

h1, button {
    display: inline;
}

button {
    inline-size: auto;
    float: right;
    background-color: transparent;
    color: rgb(63, 62, 62);
}

.btn-light {
    border: hidden;
}

h3 {
    font-style: italic;
}

p {
    text-align: justify;
    padding-top: 20px;
}



