<div class="container-fluid sobreMi">
    <div class="row align-items-center">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" id="cont-perfil">
            <img src="../../../assets/img/Foto de perfil.jpg" class="img-fluid img-thumbnail" id="foto-perfil" alt="Foto de Perfil">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
            <h1 class="identidad">Yeimer Alberto Márquez</h1>
            <!-- Botón de Login -->
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-pen-to-square"></i></button>
            <h3>Full Stack Developer Jr.</h3>
            <p>Educador con experiencia en docencia universitaria; habilidades organizativas, liderazgo de grupos, dominio de Microsoft Office y plataformas de aula virtual, con conocimientos en <b>programación y desarrollo WEB</b>.</p>
        </div>
    </div>
</div>
