/* =============== SOBRE MI =============== */
#aboutMe {
    background-color: rgb(223 206 188);
    border: solid;
    border-color: gainsboro;
    border-end-start-radius: 25px; /*-->*/
    border-bottom-right-radius: 25px; /*--> Dos maneras diferentes de hacer border-radius en la parte inferior*/
    max-width: 1100px;
}

/* #botonesEdicion {
    background-color: rgb(65 56 34);
    max-width: 1100px;
    border: none;
} */

#contenedor-perfil {
    display: flex;
    justify-content: center;
}

/* =============== FOTO DE PERFIL =============== */
#imgPerfil {
    border-radius: 4rem;
    width: 150px;
    box-shadow: gray 5px 5px 5px;
}

#fotoPerfil, #nombresApellidos, #ocupacion, #descripcionSobreMi {
    display: block;
    border-radius: 8px;
    width: 85%;
}

h1, #btnEditarPerfil {
    display: inline-block;
    align-items: baseline;
}

#btnEditarPerfil {
    float: right;
    border: hidden;
    background-color: transparent;
    color: rgb(63, 62, 62);
}

h3 {
    font-style: italic;
}

p {
    text-align: justify;
}

textarea {
    height: 8rem;
}

/* =============== PARA PANTALLA MEDIANA =============== */
@media (max-width: 576px) {
    h1, h3 {
        display: flex;
        justify-content: center;
    }
}