/* You can add global styles to this file, and also import other style files */
body {
    background-color: lightcyan;
}

.container {
    border: solid;
    border-color: gainsboro;
    border-radius: 25px;
    margin-top: 15px;
    padding: 15px 15px 15px;
}