<!-- ============================================= -->
<!-- LOGIN -->
<!-- ============================================= -->
<section id="login" class="my-3 d-flex justify-content-center">
    <div class="loginBox"><img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
        <h3>INICIAR SESIÓN</h3>
        <!-- Enlazamos ts-html y específicamos la PROPIEDAD y también los INPUTS a través del formControlName-->
        <form [formGroup]="loginForm" (ngSubmit)="onEnviar($event)">
            <!-- ============================================= -->
            <!-- Email. -->
            <!-- ============================================= -->
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Tu email:</label>
                <input formControlName="correo" type="email" class="form-control" id="inputEmail" required>
                    <!--MENSAJES PERSONALIZADOS en los formularios, se accede a través de un GET -->
                    <div *ngIf="Correo.invalid && (Correo.dirty || Correo.touched)" class="text-danger">
                        <!-- Para comprobar las validaciones de email son dos-->
                        <div *ngIf="Correo.errors?.['required']">
                            El email es requerido.
                        </div>
                        <div *ngIf="Correo.errors?.['email']">
                            El email debe tener un formato válido.
                        </div>
                    </div>
            </div>
            <!-- ============================================= -->
            <!-- Password. -->
            <!-- ============================================= -->
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Tu contraseña:</label>
                <input formControlName="clave" type="password" class="form-control" id="inputPassword" required>
                <div *ngIf="Clave.invalid && (Clave.dirty || Clave.touched)" class="text-danger">
                    <!-- Para comprobar la validación de password -->
                    <div *ngIf="Clave.errors?.['required']">
                        La contraseña es requerida.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- ============================================= -->
                <!-- BOTÓN DEL FORMULARIO -->
                <!-- ============================================= -->
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                <!-- Se llama al método, e inyectamos (servicio de rutas) en el constructor del ts -->
            </div>
        </form>
        
    </div>
</section>