<div class="container" id="education">
    <div class="row">
        <div class="col">
            <h2>Educación</h2>
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-circle-plus"></i></button>
        </div>
    </div>

    <!-- Prima columna offset de margen, las dos siguientes: imagen institucional, nueve: descripción académica. Total cuatro academias de interés -->
    <div class="row align-items-center" id="psicologia">   
        <div class="col-2 offset-1">
            <img class="img-fluid" src="../../../assets/img/logos/Logo-UBA.png" alt="Logo UBA">
        </div>                           
        <div class="col-9 border-top pt-2">
            <ul>
                <h4 class="mt-2">Universidad de Buenos Aires(UBA)</h4>
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-trash"></i></button><button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-pen-to-square"></i></button>
                <li class="profesion">Licenciado en Psicología</li>
                <li class="fecha">2021-en curso (Se detiene la cursada para dedicar mayor tiempo a programación)</li>
            </ul>
        </div>
    </div>

    <div class="row align-items-center" id="filosofia">   
        <div class="col-2 offset-1" id="logo3">
            <img class="img-fluid" src="../../../assets/img/logos/logo-iuesta.jpg" alt="Logo IUESTA">
        </div>                           
        <div class="col-9 border-top pt-2">
            <ul>
                <h4 class="mt-2">IUESTA</h4>
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-trash"></i></button><button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-pen-to-square"></i></button>
                <li class="profesion">Licenciado en Educación Mención Filosofía</li>
                <li class="fecha">1999-2001 / 2009-2011</li>
            </ul>
        </div>
    </div>

    <div class="row align-items-center" id="bach-pontificio">   
        <div class="col-2 offset-1">
            <img class="img-fluid" src="../../../assets/img/logos/Javeriana.png" alt="Logo Javeriana">
        </div>                           
        <div class="col-9 border-top pt-2">
            <ul>
                <h4 class="mt-2">Universidad Javeriana de Bogotá</h4>
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-trash"></i></button><button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-pen-to-square"></i></button>
                <li class="profesion">Baccalaureum in Theologiae</li>
                <li class="fecha">2007</li>
            </ul>
        </div>
    </div>

    <div class="row align-items-center" id="teologia">   
        <div class="col-2 offset-1">
            <img class="img-fluid" src="../../../assets/img/logos/logo-iuesta.jpg" alt="Logo IUESTA">
        </div>                           
        <div class="col-9 border-top pt-2">
            <ul>
                <h4 class="mt-2">IUESTA</h4>
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-trash"></i></button><button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-pen-to-square"></i></button>
                <li class="profesion">Licenciado en Teología</li>
                <li class="fecha">2003-2007</li>
            </ul>
        </div>
    </div>
</div>