<div class="container" id="education">
    <!-- ============================================= -->
    <!-- Educación. -->
    <!-- ============================================= -->
    <div class="row">
        <div class="col">
            <h2>Educación</h2>
            <!-- ============================================= -->
            <!-- BOTÓN: Agregar Título Académico. -->
            <!-- ============================================= -->
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addEducacionModal"><i class="fa fa-circle-plus"></i></button>
        </div>
    </div>

    <!-- Prima columna offset de margen, las dos siguientes: imagen institucional, nueve: descripción académica. Total cuatro academias de interés -->

    <!-- Directiva estructural *ngFor: recorre cada elemento y lo muestra -->
    
    <div *ngFor="let estudio of estudiosList" class="row align-items-center border-top my-2">
        <div class="col-2 offset-1 d-flex justify-content-center">
            <a [href]="estudio.url" target="_blank"><img class="img-fluid" [src]="estudio.logoInstitucional" alt="Logo Institucional"></a>
        </div>                           
        <div class="col-9 pt-2">
            <ul>
                <h4 class="mt-2 institucion">{{estudio.sede}}</h4>
                <!-- ============================================= -->
                <!-- BOTONES: Editar y eliminar Título Académico. -->
                <!-- ============================================= -->
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#eliminaEducacionModal"><i class="fa fa-trash"></i></button>
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editaEducacionModal"><i class="fa fa-pen-to-square"></i></button>
                <li class="profesion">{{estudio.profesion}}</li>
                <li class="fecha">
                    <span class="fechaInicio" >{{estudio.fecha.fechaInicio}}</span> - 
                    <span class="fechaFin">{{estudio.fecha.fechaFin}}</span>
                </li>
                <li class="ubicacion">
                    <span class="estado">{{estudio.ubicacion.estado}}</span> - 
                    <span class="pais">{{estudio.ubicacion.pais}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>