/* nav {
    padding: inherit;
} */

.navbar {
    background-color: rgb(47, 36, 8);
}

/* .logoAP {
    filter:invert(1)
} */

#redes {
    display: flex;
}

nav li {
    background-color: transparent;
}

nav li i:hover {
    transform: scale(2);
    transition: 1.5s;
}

nav li i {
    color: rgb(173, 134, 61);
}

.navbar-toggler {
    background-color: white
}

a.nav-link.active {
    color: rgb(173, 134, 61)
}

a.nav-link {
    color: rgb(173, 134, 61)
}

#navbarSupportedContent {
    text-align: center;
}

/* =============== PANTALLA MD, SM Y XS =============== */
@media(max-width:992px) {
    #redes {
        justify-content: center;
    }
}
