<nav class="navbar navbar-expand-lg">
    <div class="container-fluid" id="navbar">
        <!-- ============================================= -->
        <!-- Logo de Argentina Programa -->
        <!-- ============================================= -->
        <a class="navbar-brand" id="logoAP" href="https://argentinaprograma.inti.gob.ar/" target="_blank"><img class="logoAP" src="../../../assets/img/logos/APLogo.png" alt="Logo Argentina Programa" width="130em" height="auto"></a>
        <!-- ============================================= -->
        <!-- Icono Hamburguesa: NAVBAR -->
        <!-- ============================================= -->        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/inicio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#aboutMe">Sobre Mí</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience">Experiencia Laboral</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#education">Educación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">Hard & Soft Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Proyectos</a>
                </li>
            </ul>
            <!-- ============================================= -->
            <!-- Iconos Redes Sociales -->
            <!-- ============================================= -->
            <ul class="list-group list-group-horizontal m-1" id="redes">
                <li class="list-group-item"><a href="https://github.com/YeiAlb/" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                <li class="list-group-item"><a href="https://www.linkedin.com/in/yeimer-alberto-marquez-rojas-5a9568134//" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                <li class="list-group-item"><a href="https://twitter.com/YeimerAlberto/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>

            <!-- ============================================= -->
            <!-- INICIAR SESIÓN -->
            <!-- BOTÓN: LOGIN (Trigger Modal) -->
            <!-- ============================================= -->
            <li *ngIf="!userLoginOn" class="nav-item"> <!-- Directiva estructural, modifica el componente HTML de manera dinámica-->
                <a class="nav-link" routerLink="/iniciar-sesion"><button type="button" class="btn btn-light m-1" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa-solid fa-user fa"></i></button></a>
                <!-- <button type="button" class="btn btn-light m-1" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa-solid fa-user fa-xl"></i></button> -->
            </li>
            
            
            <!-- ============================================= -->
            <!-- CERRAR SESIÓN -->
            <!-- BOTÓN: LOGOUT (Trigger Modal) -->
            <!-- ============================================= -->
            <li *ngIf="userLoginOn" class="nav-item">
                <a class="nav-link" routerLink="/portfolio"><button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#logoutModal"><i class="fa-solid fa-user-lock fa"></i></button></a>
                <!-- <button type="button" class="btn btn-light mt-1" data-bs-toggle="modal" data-bs-target="#logoutModal"><i class="fa-solid fa-user-lock fa-xl"></i></button> -->
                <!-- Botón logout no lleva modal -->
            </li>
        </div>
    </div>
</nav>

<div class="row pt-1">
    <div id="banner">
        <a href="#"><img src="https://i.ibb.co/py4QLYZ/Banner-luz.jpg" alt="Banner-luz" border="0" width="100%"></a>
    </div>
</div>