/* #experiencia {
    border: solid;
    border-color: gainsboro;
    border-radius: 25px;
    margin-top: 15px;
    padding: 15px 15px 5px;
} */

/* =============== LOGO EMPRESA =============== */
.img-fluid {
    max-width: 100px;
    max-height: 100px;
}

.col-2 {
    display: flex;
    justify-content: center;
}

h2, h4, button {
    display: inline-block;
}

button {
    inline-size: auto;
    float: right;
    background-color: transparent;
    color: rgb(63, 62, 62);
}

.btn-light {
    border: hidden;
}

/* =============== PARA PANTALLA MEDIANA =============== */
/* ========== Iconos =========== */
@media (min-widht: 356px), (max-width: 550px) {
    h4, button {
        display: flex;
    }
}

/* =============== PARA PANTALLA PEQUEÑA =============== */
/* ========== Quitar imágenenes y espacio =========== */
@media (max-width: 355px) {
    .col-2 {
        display: none;
    }
}