footer {
    background: url(/assets/img/bg.jpg);
}

#footer {
    border-radius: 25px;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
}
button {
    float: right;
    background-color: transparent;
}

@media (max-width: 350px) {
    .copyright {
        display: block;
    }
}