footer {
    background: url(/assets/img/bg.jpg);
}

#footer {
    padding: 15px;
    margin-top: 15px;
    border-radius: 25px;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}

@media (max-width: 350px) {
    .copyright {
        display: block;
    }
}