<div class="container" id="projects">
    <!-- ============================================= -->
    <!-- Proyectos. -->
    <!-- ============================================= -->
    <div class="row">
        <div class="col proyectos">
            <h2>Proyectos</h2>
            <!-- ============================================= -->
            <!-- BOTÓN (Trigger Modal: Agregar Proyecto). -->
            <!-- ============================================= -->
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addProyectoModal"><i class="fa fa-circle-plus"></i></button>
        </div>
    </div>

    
    <div class="row">
        <div *ngFor="let proyecto of proyectosList" class="col-xs-12 col-md-6 one-proyect">
            <div class="card mb-3" style="max-width: 540px">
                <div class="row g-0">
                    <div class="col-12">
                        <a [href]="proyecto.url_proyecto" target="_blank"><img class="img-fluid rounded-start" [src]="proyecto.imagen_proyecto" alt="Logo del Proyecto"></a>
                    </div>
                    <div class="col-12 cardedition">
                        <div class="card-body">
                            <h5 class="card-title">{{proyecto.titulo_proyecto}}</h5>
                            <p class="card-text">{{proyecto.descripcion}}</p>
                            <!-- <p class="card-text"><small class="text-muted">{{proyecto.editado}}</small></p> -->
                        </div>
                        <!-- ============================================= -->
                        <!-- BOTONES (Trigger Modal): Editar y eliminar Proyectos. -->
                        <!-- ============================================= -->
                        <div class="buttons-one-proyect">
                            <a [href]="proyecto.url_proyecto" class="btn btn-outline-secondary btn-sm me-3" target="_blank">Descúbrelo</a>
                            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#eliminaProyectoModal" (click)="deleteProyecto(proyecto.id)"><i class="fa fa-trash"></i></button>
                            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editaProyectoModal"><i class="fa fa-pen-to-square"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-projects></app-modal-projects>