<div class="container" id="proyectos">
    <div class="row">
        <div class="col proyectos">
            <h2>Proyectos</h2>
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-circle-plus"></i></button>
        </div>
    </div>

    
    <div class="row">
        <div class="col-xs-12 col-md-6 one-proyect">
            <div class="card mb-3" style="max-width: 540px">
                <div class="row g-0">
                    <div class="col-12">
                        <img src="../../../assets/img/proj-barbería.png" class="img-fluid rounded-start" alt="Barbería Alura">
                    </div>
                    <div class="col-12 cardedition">
                        <div class="card-body">
                            <h5 class="card-title">Barbería Alura</h5>
                            <p class="card-text">Proyecto creado dentro del Programa Oracle-Alura Latam.</p>
                            <p class="card-text"><small class="text-muted">Alura Latam</small></p>
                        </div>
                        <div class="buttons-one-proyect">
                            <a href="https://github.com/YeiAlb/Barber-a-Alura" class="btn btn-outline-secondary btn-sm" target="_blank">Descúbrelo</a>
                            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-trash"></i></button>
                            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-pen-to-square"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 one-proyect">
            <div class="card mb-3" style="max-width: 540px">
                <div class="row g-0">
                    <div class="col-12">
                        <img src="../../../assets/img/Decoder.png" class="img-fluid rounded-start" alt="Challenge Decoder Oracle-Alura">
                    </div>
                    <div class="col-12 cardedition">
                        <div class="card-body">
                            <h5 class="card-title">Desencriptador de mensajes</h5>
                            <p class="card-text">Challenge HTML, CSS, JS dentro del Programa Oracle-Alura Latam.</p>
                            <p class="card-text"><small class="text-muted">Alura Latam</small></p>
                        </div>
                        <div class="buttons-one-proyect">
                            <a href="https://github.com/YeiAlb/Challenge_Oracle_Decoder" class="btn btn-outline-secondary btn-sm" target="_blank">Descúbrelo</a>
                            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-trash"></i></button>
                            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-pen-to-square"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 one-proyect">
            <div class="card mb-3" style="max-width: 540px">
                <div class="row g-0">
                    <div class="col-12">
                        <img src="../../../assets/img/casaBrett.png" class="img-fluid rounded-start" alt="Challenge Decoder Oracle-Alura">
                    </div>
                    <div class="col-12 cardedition">
                        <div class="card-body">
                            <h5 class="card-title">Casa Brett</h5>
                            <p class="card-text">Diseño de página WEB para local comercial.</p>
                            <p class="card-text"><small class="text-muted">Y_kAdyMa_R</small></p>
                        </div>
                        <div class="buttons-one-proyect">
                            <a href="https://github.com/YeiAlb/Proyecto-Casa-Brett" class="btn btn-outline-secondary btn-sm" target="_blank">Descúbrelo</a>
                            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-trash"></i></button>
                            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-pen-to-square"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>